@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h2>Login</h2>
        <p>Code: @(((VRPD_WebApp.Models.Keynum)Session[STATICS.VISITOR_KEY]).ToString)</p>

        <input type="button" value="Ga Terug" onclick="location.href='@ViewBag.ReturnUrl'" />
    </div>
</body>
</html>
