html {
    height: 100%;
}

body {
    display: flex;
    margin: 0;
    height: 100%;
}

/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.qr-container {
    background-color: lightgray;
    /*padding: 0 3% 0 3%;*/
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: auto;
}

.qr-btn {
    background-color: #004681;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 30px 2px 30px;
    cursor: pointer;
    z-index: 1;
}

.titleclass {
    margin-top: 60px;
}

.self-start {
    align-self: flex-start;
}

.qr-login {
    align-self: center;
}

.self-end {
    align-self: flex-end;
}

.qr-app-btn {
    visibility: hidden;
}

/*#region Toggle download qr */

.toggle {
    opacity: 0;
    transition: opacity 0.8s linear;
}

.qr-app-btn[type="checkbox"]:checked + div {
    opacity: 1;
    border: none;
}

/*#endregion */
